h1 {
   
    color:rgb(35, 15, 146);
    font-size: 50px;
    font-style: italic;
}

header { 
    background-color: rgba(81, 128, 216, 0.966);
}

    nav li {
        display: inline;
        margin-right: 18px;
    }

    nav a {
        text-transform: uppercase;
        color:rgb(7, 1, 90);
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
    }
    nav{
        position: absolute;
        margin-top: 20px;
        top: 1px;
        right: 0px;
    }

    .caixa{
        position: relative;
        width: 1080px;
        margin: 0 auto;


    }

    .logotipo{
        width: 15%;
        position: relative;
        right: 400px;
 
    }

    